<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumioturk.satomi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sumioturk.satomi.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.sumioturk.satomi.ChannelDetailActivity"
            android:label="@string/title_channel_detail"
            android:parentActivityName=".ChannelListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChannelListActivity" />
        </activity>

        <service
            android:name="com.sumioturk.satomi.service.SatomiConnectionService"
            android:process=":remote" />

        <activity
            android:name=".activity.LaunchActivity"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
